<div class="flex items-center gap-4 mb-8">
  <div>
    <h2><%= @project.name %></h2>
    <h3>Status: <%= @project.status %></h3>
  </div>

  <div class="flex-grow"></div>

  <%= link_to "Edit", edit_project_path(@project), class: "button" %>
  <%= button_to "Delete", project_path(@project), method: :delete, class: "button" %>
</div>

<h4 class="mb-6">Project History</h4>

<% @comments.each do |comment| %>
  <div class="mb-4">
    <div class="rounded mb-2 bg-gray-200 px-4 py-2">
      <div class="text-sm mb-2">
        <% if comment.user %>
          <%= comment.username %>
        <% else %>
          Automatic Message
        <% end %>
      </div>
      <%= comment.body %>
    </div>
    <div class="text-sm text-gray-600 text-right">
      <%= comment.created_at %>
    </div>
  </div>
<% end %>

<%= link_to "Add Comment", new_comment_path(project: @project),
  class: "button" %>


