<!DOCTYPE html>
<html>
  <head>
    <title>HomeyTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-100 shadow mb-4 p-4">
      <div class="flex gap-4 items-center mx-auto max-w-screen-md">
        <h1>Homey</h1>
        <div class="flex-grow"></div>
        <% if logged_in? %>
          <p>Welcome, <%= Current.user.username %></p>

          <%= button_to "Sign Out", session_path, method: :delete,
            class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
        <% end %>
      </div>
    </nav>

    <main class="mx-auto max-w-screen-md">
      <%= yield %>
    </main>
  </body>
</html>
